.responsive {
	max-width: 100%;
	height: auto;
  }
img{
	padding: 5px;
}


.rev-style{
	max-width: 700px;
	padding: 20px 12px 10px 20px;
	font: 18px Arial, Helvetica, sans-serif;
}

.rev-style-headingB{
	font-style: italic;
	border-bottom: 2px solid #ddd;
	margin-bottom: 20px;
	font-size: 18px;
	padding-bottom: 3px;
}

.rev-style label{
	display: block;
	margin: 0px 0px 15px 0px;
}
.rev-style label > span{
	width: 200px;
	font-weight: bold;
	float: left;
	padding-top: 0px;
	padding-right: 5px;
}







#elements {
	display: grid;
grid-template-columns: 100px 100px 100px 100px 100px;
grid-template-rows: 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px;
grid-template-areas: ". . . . ." ". . . . ." ". . . . ." ". . . . ." ". . . . ." ". . . . ." ". . . . ." ". . . . ." ". . . . ." ". . . . ." ". . . . ." ". . . . ." ". . . . ." ". . . . ." ". . . . ." ". . . . ." ". . . . ." ". . . . ." ". . . . ." ". . . . .";
}

input[type=number]{
	width: 100px;
}


.FizzBuzz {
    display: grid;
    width: 90px;
    height:90px;
    margin:10px;
    color:white;
    background-color:darkkhaki;
    border-radius:8px;
    border-style:solid;
    border-width:1px;
    border-color:#000;
    text-align:center;
    
    
}
.Fizz {
    display: grid;
    width: 90px;
    height:90px;
    margin:10px;
    color:white;
    background-color: orange;
    border-radius:8px;
    border-style:solid;
    border-width:1px;
    border-color:#000;
    text-align:center;
    
}

.Buzz {
    display: grid;
    width: 90px;
    height:90px;
    margin:10px;
    color:white;
    background-color:darkslateblue;
    border-radius:8px;
    border-style:solid;
    border-width:1px;
    border-color:#000;
    text-align:center;
    
}

.Empty {
    display: grid;
    width: 90px;
    height:90px;
    margin:10px;
    color:white;
    background-color:gray;
    border-radius:8px;
    border-style:solid;
    border-width:1px;
    border-color:#000;
    text-align:center;
    
}

#generate { 
    background-color: rgb(233, 144, 12);
    border-radius: 8px;
    padding: 10px;
    color: white

}

#clear { 
    background-color: rgb(233, 144, 12);
    border-radius: 8px;
    padding: 10px;
    color: white

}

